{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h1>Welcome {{lastfmuser.user.username}}!</h1>
            <div class="span8">
                <canvas id="viscanvas"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_PATH}}js/processing-1.3.6.js"></script>
<script>
    var printMessage = function(msg) {
        console.log(msg);
    }
    
    $(document).ready(function(){
        var canvas = document.getElementById('viscanvas');
        var pjs = new Processing(canvas);
        
        var value = 0;
        
        pjs.artist_data = {};
        pjs.setup = function() {
            pjs.size(800,800);
            pjs.noLoop();
            pjs.background(255);
            pjs.smooth();
        }
        
        pjs.set_artist_data = function(data) {
            pjs.artist_data = data;
        }
        
        pjs.draw = function() {
            console.log(pjs.artist_data);
        }
        
        pjs.mouseClicked = function() {
            pjs.redraw();
        }
        var chart_url = '{{root_url}}api/topartists/?callback=?';
        $.getJSON(chart_url, function(chart_data) {
            pjs.set_artist_data(chart_data);
            console.log(chart_data);
            console.log(pjs.artist_data);
        });
        pjs.setup();

    });
</script>


{% endblock %}