{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h1>Welcome {{lastfmuser.user.username}}!</h1>
            <div class="span8">
                <canvas id="viscanvas"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_PATH}}js/processing-1.3.6.js"></script>
<script>
    var printMessage = function(msg) {
        console.log(msg);
    }
    
    $(document).ready(function(){
        var WIDTH = 800;
        var HEIGHT = 600;
        var canvas = document.getElementById('viscanvas');
        var pjs = new Processing(canvas);
        
        var value = 0;
        
        pjs.artist_data = {};
        pjs.setup = function() {
            pjs.size(WIDTH, HEIGHT);
            pjs.noLoop();
            pjs.background(255);
            pjs.smooth();
            var chart_url = '{{root_url}}api/topartists/?callback=?';
            $.getJSON(chart_url, function(chart_data) {
                pjs.set_artist_data(chart_data);
                pjs.redraw();
            });            
        }
        
        pjs.set_artist_data = function(data) {
           this.artist_data = data;
        }
        
        pjs.draw = function() {
           var total_playcounts = [];
           var total_listeners = [];
           var user_listens = [];
           var MAX_CIRCLE_WIDTH = 50;
           console.log(this.artist_data.artists);
           for(var i in this.artist_data.artists) {
               total_playcounts.push(this.artist_data.artists[i].total_playcount);
               total_listeners.push(this.artist_data.artists[i].total_listeners);
               user_listens.push(this.artist_data.artists[i].user_playcount);  
           }
           var max_total_playcounts = Math.max.apply(null, total_playcounts);
           var min_total_playcounts = Math.min.apply(null, total_playcounts);
           console.log( max_total_playcounts + ', ' + min_total_playcounts );
           var max_total_listeners =  Math.max.apply(null, total_listeners);
           var min_total_listeners = Math.min.apply(null, total_listeners);
           console.log( max_total_listeners + ', ' + min_total_listeners );
           var max_user_listens = Math.max.apply(null, user_listens);
           var min_user_listens = Math.min.apply(null, user_listens);
           console.log( max_user_listens + ', ' + min_user_listens );
           var x_pixels_per_play = (WIDTH - 50) / (max_total_playcounts-min_total_playcounts);
           var y_pixels_per_listener = (HEIGHT - 50) / (max_total_listeners-min_total_listeners);
           var pixels_per_user_play = MAX_CIRCLE_WIDTH / (max_user_listens - min_user_listens);
           console.log(x_pixels_per_play);
           console.log(y_pixels_per_listener);
           for(var i in this.artist_data.artists) {
               console.log( (this.artist_data.artists[i].total_playcount - min_total_playcounts) + ', ' + (this.artist_data.artists[i].total_listeners - min_total_listeners) );
               var x = 25 + x_pixels_per_play * (this.artist_data.artists[i].total_playcount - min_total_playcounts);
               var y = (HEIGHT -  25) - (y_pixels_per_listener * (this.artist_data.artists[i].total_listeners - min_total_listeners));
               var width = pixels_per_user_play * (this.artist_data.artists[i].user_playcount - min_user_listens);
               console.log(x + ', ' + 'y ' + ', ' + width);
               pjs.fill(random(255), random(255),random(255));
               pjs.ellipse(x, y, width, width);
           }
           
        }
        
        pjs.mouseClicked = function() {
            pjs.redraw();
        }

        pjs.setup();

    });
</script>


{% endblock %}