{% extends 'base.html' %}

{% block content %}
    <div class="container hero-unit">
        <div class="row">
            <div class="span6">
                <h3>Weekly Charts for {{user.username}}</h3>
                <p>Display the weekly charts for any given week by genre or artist. Click on a week to begin, then select any genre to see the artists within that genre</p>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label" for="date-select">Select Chart Date</label>
                    <div class="controls">
                        <div id="date-select">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="span8">
            <canvas id="viscanvas" data-processing-sources="{{STATIC_PATH}}processing/TestJquery.pde {{STATIC_PATH}}processing/Slice.pde {{STATIC_PATH}}processing/LinearAlg.pde"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_PATH}}js/processing-1.3.6.js"></script>
<script>
    var printMessage = function(msg) {
        console.log(msg);
    }
    
    $.getJSON('{{root_url}}api/weeklychartlist/', function(data) {
        var max = 0;
        var min = 9007199254740992;
        for(var i in data.charts) {
            if(data.charts[i].start < min) {
                min = data.charts[i].start; 
            }
            if(data.charts[i].end > max) {
                max = data.charts[i].end;
            }
        }
        max = parseInt(max) * 1000;
        min = parseInt(min) * 1000;
        $('#date-select').datepicker({
              dateFormat : "@",
              maxDate : max.toString(),
              minDate : min.toString(),
              onSelect : function(dateText, inst) {
                  var date = parseInt(dateText) / 1000;
                  for(var i in data.charts) {
                      if(date >= data.charts[i].start && date <= data.charts[i].end) {
                          alert([i]);
                          var pjs = Processing.getInstanceById('viscanvas');
                          var chart_url = '{{root_url}}api/weeklychart/' + i + '/?callback=?';
                          $.getJSON(chart_url, function(chart_data) {
                              pjs.addData(chart_data);
                          });
                      }
                  } 
              }
        });
    });
</script>


{% endblock %}
