{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h1>Welcome {{lastfmuser.user.username}}!</h1>
                <div class="control-group">
                    <label class="control-label" for="date-select">Select Chart Date</label>
                    <div class="controls">
                        <div id="date-select">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="span8">
                <canvas></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function select_week(dateText, inst) {
        alert(dateText);
    }

    $('#date-select').datepicker({
        onSelect: select_week(),
    });
    var json = $.getJSON('{{root_url}}api/weeklychartlist/', function(data) {
        for(var i in data.charts) {
        }
    });
</script>
{% endblock %}
